html {
  min-height: 100%;
  background-image: url("../assets/background.png");
  background-color: #e15e5e;
}
body {
  color: white;
  font-family: "Comic Sans MS";
  max-width: 600px;
  margin: auto;
}
body h1,
body p {
  text-align: center;
}
